Projeto_Olist - Pratica.pbix
archive.zip
datasets
Documento de Arquitetura de Dados Olist E-Commerce.docx
Dicionario de Dados Olist Desatualizado.png
Dicionario de Dados Olist Definitivo.pdf
Mapeamento De-Para das linhas e colunas da Modelagem Olist no Power BI.pdf
Dicionario de Dados Olist Definitivo.png
env/
.ipynb_checkpoints/
.DS_Store
venv/
env/
.env
__pycache__/
*.pyc
.tmp.driveupload/