# Ambientes
.venv/
venv/
.env
ambiente.local

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.python-version

# Dados locais
dados/brutos/*
dados/processados/*
dados/externos/*
dados/temporarios/*
dados/amostras/*
!dados/**/.gitkeep

# Power BI
powerbi/~$*

# IDE
.idea/
.vscode/
*.code-workspace
